{% extends 'base.html' %}
{% block header %}
    <h1>QUIC dissector</h1>
    <small></small>
{% endblock %}
{% macro print_struct(d) %}
    {% for name, value, s_idx, e_idx in d %}
        <li data-start-offset="{{ s_idx }}" data-end-offset="{{ e_idx }}">
            {% if not value|is_tuple %}
                {{ name }}: {{ value }}
            {% else %}
                {{ name }}: {{ value[0] }}
                <ul data-start-offset="{{ s_idx }}" data-end-offset="{{ e_idx }}">
                    {{ print_struct(value[1]) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
{% macro print_dissection(i, packet) %}
    {% set data = packet.data %}
    {% set dissection = packet.dissection %}
    <div class="row packet packet-{{ i }}">
        <div class="col-lg-6">
            <div class="box">
                <div class="box-body hex-view">
                    {% set size = 2 * 8 %}
                    {% for i in range(0, data|length, size) %}
                        <code class="address">{{ '%04X'|format(i) }}&nbsp;&nbsp;</code>

                        {% set line = data[i:i+size] %}
                        {% for j in range(size) %}
                            <code class="byte">{{ line[j]|default('&nbsp;&nbsp;')|safe }}</code>
                            {% if j == 7 %}
                                <code>&nbsp;&nbsp;</code>
                            {% endif %}
                        {% endfor %}
                        <code>&nbsp;&nbsp;</code>

                        {% for j in range(size) %}
                            <code class="char">{{ line[j]|default('00')|decode|replace(' ', '&nbsp;')|safe }}</code>
                        {% endfor %}
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box">
                <div class="box-body structure" style="word-wrap: break-word;">
                    <ul>{{ print_struct(dissection) }}</ul>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
{% block content %}
    <div class="box">
        <div class="box-body">
            <table class="table table-bordered stream">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Timestamp</th>
                    <th>Direction</th>
                    <th>Length</th>
                    <th>Packet type</th>
                </tr>
                </thead>
                <tbody>
                {% for packet in trace.stream %}
                    <tr data-packet-number="{{ loop.index }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ packet.timestamp }}</td>
                        <td>{{ packet.direction }}</td>
                        <td>{{ packet.length }} bytes</td>
                        <td>{{ packet.type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% for packet in trace.stream %}
        {{ print_dissection(loop.index, packet) }}
    {% endfor %}
{% endblock %}
{% block js %}
    {{ super() }}
    <script>
        $(window).ready(function () {
            function handleOver(e) {
                $('.shown .structure li').attr('style', '');
                $('.shown .structure ul').attr('style', '');
                $(e.target).css('background-color', '#566aff').css('color', 'white');

                const start_idx = $(e.target).data('start-offset');
                const end_idx = $(e.target).data('end-offset');

                const bytes = $('.shown .hex-view code.byte');
                bytes.attr('style', '');
                bytes.slice(start_idx, end_idx).css('background-color', '#566aff').css('color', 'white');

                const chars = $('.shown .hex-view code.char');
                chars.attr('style', '');
                chars.slice(start_idx, end_idx).css('background-color', '#566aff').css('color', 'white');
            }

            $('.structure li').click(handleOver);
            $('.structure ul').click(handleOver);

            $('.packet').hide();
            $('.packet-1').addClass('shown').show();
            $('table.stream tr').click(function () {
                $('table.stream tr').attr('style', '');
                $(this).css('background-color', '#566aff').css('color', 'white');
                const packet_number = $(this).data('packet-number');
                $('.packet').removeClass('shown').hide();
                $('.packet-' + packet_number).addClass('shown').show();
            })
        });
    </script>
{% endblock %}