{% extends 'base.html' %}
{% block header %}
    <h1>QUIC dissector</h1>
    <small></small>
{% endblock %}
{% macro print_struct(d) %}
    <ul>
    {% for name, value in d %}
        {% if not value|is_tuple %}
            <li>{{ name }}: {{ value }}</li>
        {% else %}
            <li>{{ name }}: {{ value[0] }}
                {{ print_struct(value[1]) }}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}
{% block content %}
    <div class="box">
        <div class="box-body">
            {{ print_struct(dissection) }}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ super() }}
    <script>
        $(window).ready(function() {
            $.get('/dissector/example', null, function(data, status) {
                console.log(data, status)
            }, 'json');
        })
    </script>
{% endblock %}